:root{
    --gap: 10px;
    --btn: calc(var(--gap) * 6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

*:focus{
    outline: none;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

body{
    width: min-content;
    padding: calc(var(--gap) * 2);
    display: inherit;
    flex-flow: row wrap;
    gap: var(--gap);
    background: ghostwhite;
    border-radius: 30px;
}

body *{
    border: none;
    transition: .5s;
}

.result, .pad{
    width: calc(calc(var(--btn) * 4) + calc(var(--gap) * 3));
    height: calc(var(--gap) * 15);
}

.pad{
    height: calc(calc(var(--btn) * 5) + calc(var(--gap) * 4));
    display: flex;
    flex-flow: column wrap;
    gap: var(--gap);
}

.result *{
    width: 100%;
    text-align: right;
}

.result h2.prior{
    height: 40%;
    margin-top: 100%;
    color: initial;
    font-size: 48px;
}

.result h2, .result:hover h2{
    height: 20%;
    margin: 0;
    color: dimgray;
    font-size: revert;
}

.result h1{
    height: 0;
    font-size: 0;
}

.result h1.prior, .result:hover h1{
    height: 40%;
    font-size: 48px;
}

.result canvas{
    height: 100%;
}

button{
    width: var(--btn);
    height: var(--btn);
    border-radius: calc(var(--btn) / 2);
    border: transparent 3px solid;
    background: lightgray;
    color: black;
    font-weight: bold;
    font-size: large;
}

.op{
    background: darkgray;
    color: white;
    font-size: x-large;
}

.util{
    background: sandybrown;
    color: white;
}

#e{
    height: calc(calc(var(--btn) * 3) + calc(var(--gap) * 2));
    background: tomato;
}

button:focus, button:hover{
    cursor: pointer;
    border-color: lightgray;
    background: gainsboro;
    color: dimgray;
}

.op:focus, .op:hover{
    border-color: silver;
    background: lightgray;
    color: dimgray;
}

.util:focus, .util:hover{
    border-color: sandybrown;
    background: peachpuff;
    color: coral;
}

#e:focus, #e:hover{
    border-color: tomato;
    background: lightsalmon;
    color: firebrick;
}

button:active{
    filter: blur(1.5px) brightness(1.05);
}